<li>
    {{name}}
    {{#unless devoured}}
    <button class="eatDessert text-white btn btn-warning" data-devoured="{{devoured}}" data-id="{{id}}">
        Eat Dessert
    </button>
    {{/unless}}
    <button id="delete" class="btn btn-danger" data-id="{{id}}">Delete</button>
</li>