<li>
    {{name}}

    <button class="eatDessert text-white btn btn-warning" data-devoured="{{devoured}}" data-id="{{id}}">
        {{#if devoured}}Eat Dessert{{/if}}
    </button>

    <button id="delete" class="btn btn-danger" data-id="{{id}}">Delete</button>
</li>